@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}


body{
    background-image: url("../img/computer-desk-electronics-keyboard-238118.jpg") ;
    background-position: 51% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'Open Sans', sans-serif;
    background-attachment: fixed;
    
}

a:hover{
    text-decoration: none;
}

#download {
    color: white!important;
    font-size: 1.2rem;
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    background-color: rgb(133, 28, 28);
}

#intro{
    height: 90vh;
}

#intro-text{
    margin-top: 2rem;
    height: 70vh;
    font-size: 1.5rem;
}

#de-oplossing{
    font-size: 2rem;
    font-weight: 600;
}

#projecten{
    color: white!important;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background-color: rgb(133, 28, 28);
}

#info {
    font-size: 1.3rem;
}

.website{
    color: black!important;
    text-decoration: underline;
}

.wat-link{
    display: block;
    color: black!important;
    padding: 0.5rem 1rem;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.459);
    border-width: 2px;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    font-size: 1.2rem;
}

#wat-intro{
    margin-top: 5rem;
    height: 80vh;
}

.main-content{
    background-color: white;
}
i {
    margin-right: 1rem;
}

h3{
    margin-top: 2rem;
    font-size: 2rem;
}

#footer a {
    color: rgb(61, 61, 61)!important;
}

section{
    padding: 1rem 0.5rem;
}

#contact form{
    font-size: 1.2rem;;
}

#contact h3{
    padding-bottom: 1rem;;
}

#contact-form{
    margin-top: 1rem;
}

input{
    width: 15rem;
    border-radius: 5px;
    font-size: 1rem;
}

textarea {
    width: 15rem;
}

input:focus{
    background-color: rgba(230, 228, 228, 0.438);
    border: 1.5px solid gray;
}

label{
    display: block;
}

#submit {
    background-color: rgb(43, 42, 42);
    border-radius: 10px;
    color: white!important;
}
h4{
    padding-top: 1rem;
}

.caption{
    color: rgb(102, 101, 101);
    font-weight: 500;
    font-size: 18px;
}

.opacity{

    background: none;
}

#accordion{
    min-width: 200px;
}

h3{
    display: block;
}

.extra{
    background-color: white;
}

h4 a {
    color: black!important;
    text-align: center;

}

.panel-heading{
    background-color: rgba(0, 0, 0, 0.068);
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    margin-bottom: 1rem;

}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 1.5s ease;
         -o-transition: height 1.5s ease;
            transition: height 1.5s ease;
  }

.card-deck{
    margin-bottom: 1rem;
}


  td {
    width: 25% ;
  }

  .table {
    display: block !important;
 }


@media screen and (min-width: 700px){
    #intro-text{
        font-size: 2rem;
    }

    #de-oplossing{
        font-size: 2.5rem;
    }

    #wat-intro{
        font-size: 1.5rem;
    }

    .wat-link{
        width: 20rem;
        margin-bottom: 1.5rem;
    }

    #contact-form{
        margin-left: 4rem;
    }

    input {
        width: 20rem;
    }

    textarea{
        width: 20rem;
    }
    
    
}

@media screen and (max-width: 767px){
   .one{
       order: 1;
   }
   .two{
       order: 2;
   }
    
}